body{
   font-family:helvetica;
   color:white;
   font-family:'futura';
   background-color:#333333;
   text-align:center;
   width:100%;
   overflow-x:hidden;
   background-image:url('https://sadhost.neocities.org/images/tiles/black.jpg');}
   
  @font-face{font-family:'futura';src: url('https://arby.party/fonts/futura.ttf');}
  
  * {
  scrollbar-width: thin;
  scrollbar-color: orange;
}

#contain{width:60%;text-align:center;margin: 0 auto; position:absolute; justify-content: center;
  align-items: center;
}
a{color:white;
}
p{width:70%;text-align:justify;
  }

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: orange;
  background-image:linear-gradient(red,orange);
  border-radius: 20px;
  border: 3px solid black;
}

